/* General Setttings */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Source+Sans+Pro:wght@600&display=swap');

* {
  margin: 0;
}

body {
  background-image: url('img-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #ffc600;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Variables */

:root {
  --bg-gradient: linear-gradient(to bottom, #fff 0%, #f1dcb5 100%);
}

/* Intro */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  background: var(--bg-gradient);
}

h1 {
  margin: 1.6vmax 2vmax;
  text-align: center;
  white-space: wrap;
  user-select: none;
  font: 2.15vmax 'Acme', sans-serif;
  color: #8a0808;
}

/* Form */

input {
  width: 100%;
  padding: 1vmax;
}

.search-form {
  max-width: 24vmax;
  margin: 50px auto;
}

.search {
  position: relative;
  z-index: 2;
  left: -7%;
  top: 10px;
  outline: 0;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  text-align: center;
  font-size: 2.5vmax;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  padding: 0;
  position: relative;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  text-transform: capitalize;
  font: 1.5vmax 'helvetica neue';
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  transform: background 0.2s;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(1.7deg) translateY(2px) scale(1.001);
  background: var(--bg-gradient);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-1.7deg) translateY(3px) scale(1.001);
}

span.population {
  font-size: 1.1vmax;
}

.hl {
  background: #ffc600;
}