/* General Setttings */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

body {
  background-image: url('img-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  /* box-sizing: border-box; */
  background-color: #ffc600;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Intro */

.intro {
  margin: 3vmax 4vmax;
  text-align: center;
  white-space: wrap;
  font-size: 2.1vmax;
  color: #8a0808;
}

/* Form */

input {
  width: 100%;
  padding: 1vmax;
}

.search-form {
  max-width: 24vmax;
  margin: 50px auto;
}

.search {
  margin: 0;
  position: relative;
  z-index: 2;
  left: -7%;
  top: 10px;
  outline: 0;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  text-align: center;
  font-size: 2.5vmax;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  list-style: none;
  text-transform: capitalize;
  font: 1.5vmax 'helvetica neue';
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  transform: background 0.2s;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #fff 0%, #f1dcb5 100% );
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}